<!DOCTYPE html>
<html>
       <head>
           <title>Restles Route</title>
           <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
       </head>
       <body>

 <h1>This is beginning</h1>

 <div class="ui fixed inverted menu">
     <div class="ui container">
         <div class="header item"><i class="hand point right icon"></i>Blog site</div>
         <a href="/" class="item">Home</a>
         <a href="/blogs/new" class="item">New post</a>
     </div>

 </div>